@font-face {
  font-family: "biryani";
  src: url("/src/fonts/Biryani/Biryani-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "biryaniRegular";
  src: url("/src/fonts/Biryani/Biryani-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bungee';
  src: url('/src/fonts/Bungee/Bungee-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
.bungee{
  font-family: "bungee";
}

.biryani {
  font-family: "biryani";
}
.biryaniRegular{
  font-family: "biryaniRegular";
}
.selected {
  color: #F5E914;
  transform: scale(1.1);
  transition-duration: 250ms;

}
.textParrafColor{
  color: #2d2c2c;
}

.textColor{
  color: #F5E914;
}
.bgcolor{
  background: #F5E914;
}
.gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    140deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.553) 50%
  );
}

@keyframes entrada {
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
  
}
.entrada{
  animation: entrada 0.3s forwards;
}
.pantallas{
  height: 300vh;
  
}

/* .preloader{
height: 100vh;
width: 100%;
background: #000;
color: #FFF;
position: fixed;
bottom: 0;
left: 0;
right: 0;
z-index: 55;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.texts-container{
display: flex;
align-items: center;
justify-content: space-between;
height: 60px;
width: 250px;
font-size: 20px;
font-weight: 800;
overflow: hidden;
color: #FFF;


} */
